
@{
    ViewBag.Title = "Index";
}

<p>姓名:</p>
<input type="text" name=" firstname" /> </h3>
<p>帳號:</p>
<input type="text" name=" firstname" /> </h3>
<p>密碼:</p>
<input type="text" name=" firstname" /> </h3>
<p>性別:<input type="radio" name="gender" value="A">男性<input type="radio" name="gender" value="A">女性</p>
<p>
    興趣: <input type="checkbox" name="item" value="A" />
    游泳
    <input type="checkbox" name="item" value="A" />
    閱讀
    <input type="checkbox" name="item" value="A" />
    看電影
    <br />
<p>自我介紹:<textarea name="message" rows="5" cols="30"> </textarea></p>







